# Railway environment variables example
SECRET_KEY=pon-aqui-tu-secret-key
DATABASE_URL=postgres://usuario:password@host:puerto/basededatos
ALLOWED_HOSTS=librofiscalv2-production.up.railway.app,localhost,127.0.0.1
DEBUG=False
# Opcionales para correo
EMAIL_HOST=smtp-relay.brevo.com
EMAIL_PORT=587
EMAIL_HOST_USER=usuario@dominio.com
EMAIL_HOST_PASSWORD=tu_password
BREVO_SENDER_EMAIL=usuario@dominio.com
BREVO_SENDER_NAME=Nombre
