# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
*.egg
venv/
.env

# Django
backend/db.sqlite3
backend/staticfiles/
backend/media/

# Node
frontend/node_modules/
frontend/dist/

# IDE
.vscode/
.idea/
*.swp
*.swo
